@mixin breakpoint($width, $property, $value) {
  @media screen and (min-width: $width) {
    #{$property}: $value;
  }
}

@mixin page {
  height: 80vh;
  min-height: 500px;
  display: flex;
  padding-top: 5vh;
  // @include breakpoint($md-breakpoint, padding-top, 20vh);

  .content {
    padding: 0 20px;
    @include breakpoint($md-breakpoint, padding, 0 10vw);
    font-size: 2rem;

    p {
      display: block;
    }

    .call-to-action {
      border: solid 1px $dark-color;
      border-radius: 14px;
      text-decoration: none;
      @include breakpoint($md-breakpoint, font-size, 1.7rem);
      font-size: 1.3rem;
      color: $dark-color;
      padding: 15px;
      margin: 40px 0;
      transition-duration: 0.2s;
      display: flex;
      align-items: center;
      gap: 15px;
      width: fit-content;

      &:hover {
        // border: solid 5px $dark-color;
        background-color: $dark-primary-dull-color;
      }

      img {
        height: 100%;
        width: 40px;
      }
    }
  }
}

@mixin landing-page {
  @include page;
  position: relative;

  .background {
    width: 100vw;
    position: absolute;
    overflow: hidden;
    padding-top: 40vh;
    padding-left: 20px;
    bottom: 10vh;
    @include breakpoint($sm-breakpoint, padding-left, 30vw);
    @include breakpoint($sm-breakpoint, bottom, 10vh);
    img {
      @include breakpoint($sm-breakpoint, height, unset);
      height: 120px;
    }
  }
  .content {
    .title {
      * {
        font-weight: 100;
      }
      #main-heading {
        color: $dark-primary-color;
        font-size: 5rem;
        @include breakpoint($md-breakpoint, font-size, 7rem);
      }
      #sub-heading {
        font-size: 2.5rem;
        @include breakpoint($md-breakpoint, font-size, 4rem);
      }
    }
  }
}
