$sm-breakpoint: 667px;
$md-breakpoint: 867px;
$lg-breakpoint: 1024px;

// theme color
$dark-primary-color: #8f43d6;
$dark-primary-dull-color: #8f43d654;
$dark-background: #181818;
$dark-color: #d8d8d8;
