$sm-breakpoint: 667px;
$md-breakpoint: 867px;
$lg-breakpoint: 1024px;

html {
  --primary-dull-color: #8f43d654;
  --background: #181818;
  --font-color: #d8d8d8;
  --primary-color: #8f43d6;
}

.black,
.black * {
  --background: #000000;
}

.light,
.light * {
  --primary-dull-color: #8f43d654;
  --font-color: #181818;
  --background: #cecece;
  --primary-color: #8f43d6;
}
