@mixin body {
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
  head,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: $dark-background;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;

    // w3c spec
    scrollbar-width: 10px;
    scrollbar-color: $dark-background $dark-primary-dull-color;

    // Chrome only
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: rgb(56, 56, 56);
    }
    &::-webkit-scrollbar-thumb {
      background: $dark-primary-dull-color;
    }
  }

  #app {
    width: 100%;
    font-family: "Work Sans", sans-serif;
    color: $dark-color;
    transition-duration: 0.2s;
  }
}
